* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: url(../images/body.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .header {
  background-color: rgba(137, 43, 226, 0.116);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .user-info {
  margin-left: 40px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 20px;
}
.container .header .user-info button {
  width: 80px;
  text-transform: capitalize;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
.container .header .user-info button:hover {
  background: linear-gradient(to right, #2e0ab3, #a015b3);
  color: white;
}
.container .header .search-box {
  margin-right: 100px;
  height: 30px;
  width: 300px;
}
.container .header .search-box input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.input-box {
  max-width: 380px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 0, 157, 0.158);
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.input-box input {
  width: 90%;

  height: 30px;
  border-radius: 10px;
  padding: 10px;
  margin: 6px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(77, 74, 74, 0.315);
}
.input-box button {
  width: 120px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  margin: 8px 100px;
  cursor: pointer;
}
.input-box button:hover {
  background: rgba(120, 123, 133, 0.199);
}
.display-data {
  width: 100%;

  margin: auto;
  background-color: #2f0ab338;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.display-data .data-item {
  width: 300px;
  min-height: 140px;
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
