* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(
      rgba(82, 80, 194, 0.466),
      rgba(235, 47, 252, 0.479)
    ),
    url(../images/body.jpg);
  width: 100vw;

  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .header {
  background-color: rgba(43, 46, 226, 0.082);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .user-info {
  margin-left: 40px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 20px;
  color: wheat;
}
.container .header .user-info button {
  width: 80px;
  text-transform: capitalize;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
.container .header .user-info button:hover {
  background: linear-gradient(to right, #2e0ab3, #a015b3);
  color: white;
}
.container .header .search-box {
  margin-right: 100px;
  height: 30px;
  width: 300px;
}
.container .header .search-box input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.input-box {
  max-width: 380px;
  height: 240px;

  border-radius: 10px;
  background-color: rgba(132, 0, 255, 0.096);
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.input-box input,
select {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.048);
  height: 40px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 6px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(77, 74, 74, 0.315);
}
.input-box select {
  background-color: #2f0ab350;
}
.input-box button {
  width: 120px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  margin: 8px 100px;
  cursor: pointer;
}
.input-box button:hover {
  background: rgba(120, 123, 133, 0.199);
}
.display-data {
  width: 90%;

  margin: auto;
  background-color: #2f0ab338;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.display-data .data-item {
  width: 260px;
  min-height: 140px;
  background-color: rgba(240, 248, 255, 0.418);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}
.display-data .data-item .items {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.display-data .data-item .items input {
  border: none;

  background-color: transparent;
  outline: none;
  text-transform: capitalize;
  color: rgb(81, 16, 143);
}
.display-data .data-item .items input:focus {
  background-color: transparent;
}
.display-data .data-item .items input:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  border-bottom: 1px solid;
  font-family: "Cormorant Unicase", serif;
}

.display-data .data-item .items input:nth-child(2) {
  margin-left: 2px;
  margin-top: 16px;
  color: rgb(255, 255, 255);
}

.display-data .data-item .items input:nth-child(3) {
  position: absolute;
  bottom: 40px;
  left: 30px;
  opacity: 0.8;
}

.display-data .data-item .edit-delete {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.delete-btn {
  border-radius: 10px;
  padding: 4px;
  width: 80px;
  border: none;
  background-color: #2f0ab37e;
  cursor: pointer;
  margin-left: 20px;
}
.delete-btn:hover {
  background-color: #2f0ab32d;
}
