* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: linear-gradient(
      rgba(82, 80, 194, 0.466),
      rgba(235, 47, 252, 0.479)
    ),
    url(../images/bg2.jpg);
  width: 100vw;

  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .header {
  background-color: rgba(43, 46, 226, 0.082);
  height: 50px;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.container .header .user-info {
  margin-left: 40px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 20px;
  color: wheat;
}
.container .header .user-info button {
  width: 80px;
  text-transform: capitalize;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
.container .header .user-info button:hover {
  background: linear-gradient(to right, #2e0ab3, #a015b3);
  color: white;
}
.container .header .search-box {
  margin-right: 100px;
  height: 30px;
  width: 300px;
}
.container .header .search-box input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.input-box {
  max-width: 380px;
  height: 240px;

  border-radius: 10px;
  background-color: rgba(132, 0, 255, 0.096);
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.input-box input,
select {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.048);
  height: 40px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 6px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(77, 74, 74, 0.315);
}
.input-box select {
  background-color: #2f0ab350;
}
.input-box button {
  width: 120px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 8px;
  text-align: center;
  margin: 8px 100px;
  cursor: pointer;
}
.input-box button:hover {
  background: rgba(120, 123, 133, 0.199);
}
.firebase-data {
  width: 90%;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #bdbbc246;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #a75b5b;
  color: white;
}
