body {
  background-color: #01589b1a;
}
.container {
  width: 90%;
}
.login-sign-form {
  background-color: aqua;
  max-width: 400px;
  min-height: 500px;
  overflow: hidden;
  margin: 2% auto;
  position: relative;
  padding: 10px;
  background-color: rgba(148, 143, 147, 0.055);
  box-shadow: 0 8px 32px 0 rgba(69, 69, 73, 0.37);
  border-radius: 10px;
}
.login-sign-form form {
  height: 100%;
  width: 90%;
}
.login-sign-form .login-form {
  width: 80%;
  left: 40px;
  top: 0px;
  display: block;
  position: absolute;
}
.register {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 60px;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
}
.register button {
  width: 100px;
}
.login-sign-form .signup-form {
  position: absolute;
  left: 50px;
  display: none;
  top: 0px;
}
.login-sign-form .signup-form .login {
  left: 100px;
  position: absolute;
}
