* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(207, 207, 224, 0.445),
      rgba(142, 140, 143, 0.411)
    ),
    url(../images/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.form {
  width: 360px;
  height: 440px;
  overflow: hidden;
  margin: 2% auto;
  position: relative;
  padding: 10px;
  background-color: rgba(148, 143, 147, 0.055);
  box-shadow: 0 8px 32px 0 rgba(69, 69, 73, 0.37);
  border-radius: 10px;
}
.lr-button {
  width: 220px;
  background-color: rgba(128, 127, 133, 0.315);
  margin: 30px auto;
  position: relative;
  border-radius: 20px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #c5bfdd, #a188a3);
  border-radius: 20px;
  transition: 0.6s;
}

.form-group {
  position: absolute;
  top: 120px;

  width: 280px;
  transition: 0.6s;
}
.input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;

  outline: none;
  background: rgba(88, 87, 87, 0.308);
}
#open-forget-tab {
  position: absolute;
  cursor: pointer;
  background: linear-gradient(to right, #c5bfdd, #a188a3);
  padding: 10px;
  left: 80px;
  color: white;
  bottom: -40px;
  border-radius: 20px;
  transition: 0.6s;
}
#open-forget-tab:hover {
  background-color: rgba(150, 94, 133, 0.205);
  transition: 0.6s;
  color: rgba(12, 12, 12, 0.699);
}
.login-btn {
  width: 80%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  background: linear-gradient(to right, #c5bfdd, #a188a3);
  border: none;
  outline: none;
  border-radius: 30px;
  transition: 0.5s;
  font-size: 1rem;
}
.login-btn:hover {
  color: white;
  transition: 0.6s;
  background: linear-gradient(to right, #726b74, #d8d4e7);
}
#login {
  left: 50px;
}
#signup {
  left: 450px;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.forget-password {
  width: 300px;
  display: none;
  background-color: #c7c7c6;
  height: 300px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  top: -70px;
  position: relative;
}
.forget-password input {
  width: 80%;
  background: rgba(156, 154, 154, 0.329);
  margin-left: 30px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.forget-password a {
  position: absolute;
  left: 48px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  padding: 8px;
  background: linear-gradient(to right, #d1caeb, #867a86);
  top: 60px;
  transition: 0.6s;
}
.forget-password a:hover {
  background-color: aliceblue;
  color: black;
  border: none;
  transition: 0.6s;
}
#closetab {
  position: absolute;
  top: 60px;
  background: linear-gradient(to right, #c5bfdd, #a188a3);
  width: 60px;
  border-radius: 20px;
  cursor: pointer;
  right: 40px;
  padding: 8px;
  border: none;
  color: #6240db;
  transition: 0.6s;
}
#closetab:hover {
  color: white;
  background-color: #3417d842;
  transition: 0.6s;
}
